[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
Icon=application-x-compress
MimeType=inode/directory;
Actions=sfs-xz;sfs-root-xz;


[Desktop Action sfs-xz]
Name=Compress to SquashFS: xz
Name[nl]=Comprimeren naar SquashFS: xz
Name[ru]=Сжать в SquashFS: xz
Icon=application-x-compress
Exec=f=%f; mksquashfs "$f" "$f.$(date +'%%Y.%%m.%%d-%%H.%%M.%%S').xz.sfs" -noappend -b 1M -comp xz

[Desktop Action sfs-root-xz]
Name=Compress to SquashFS (root): xz
Name[nl]=Comprimeren naar SquashFS (root): xz
Name[ru]=Сжать в SquashFS (root): xz
Icon=application-x-compress
Exec=f=%f; pkexec mksquashfs "$f" "$f.$(date +'%%Y.%%m.%%d-%%H.%%M.%%S').xz.sfs" -noappend -b 1M -comp xz
