[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
X-KDE-Submenu=Compress to SquashFS (root): zstd
X-KDE-Submenu[nl]=Comprimeren naar SquashFS (root): zstd
X-KDE-Submenu[ru]=Сжать в SquashFS (root): zstd
Icon=application-x-compress
MimeType=inode/directory;
Actions=sfs-root-zstd-1;sfs-root-zstd-2;sfs-root-zstd-3;sfs-root-zstd-4;sfs-root-zstd-5;sfs-root-zstd-6;sfs-root-zstd-7;sfs-root-zstd-8;sfs-root-zstd-9;sfs-root-zstd-10;sfs-root-zstd-11;sfs-root-zstd-12;sfs-root-zstd-13;sfs-root-zstd-14;sfs-root-zstd-15;sfs-root-zstd-16;sfs-root-zstd-17;sfs-root-zstd-18;sfs-root-zstd-19;sfs-root-zstd-20;sfs-root-zstd-21;sfs-root-zstd-22;


[Desktop Action sfs-root-zstd-1]
Name=1
Exec=lvl=1; f=%f; pkexec mksquashfs "$f" "$f.$(date +'%%Y.%%m.%%d-%%H.%%M.%%S').zst.sfs" -noappend -b 1M -comp zstd -Xcompression-level $lvl

[Desktop Action sfs-root-zstd-2]
Name=2
Exec=lvl=2; f=%f; pkexec mksquashfs "$f" "$f.$(date +'%%Y.%%m.%%d-%%H.%%M.%%S').zst.sfs" -noappend -b 1M -comp zstd -Xcompression-level $lvl

[Desktop Action sfs-root-zstd-3]
Name=3
Exec=lvl=3; f=%f; pkexec mksquashfs "$f" "$f.$(date +'%%Y.%%m.%%d-%%H.%%M.%%S').zst.sfs" -noappend -b 1M -comp zstd -Xcompression-level $lvl

[Desktop Action sfs-root-zstd-4]
Name=4
Exec=lvl=4; f=%f; pkexec mksquashfs "$f" "$f.$(date +'%%Y.%%m.%%d-%%H.%%M.%%S').zst.sfs" -noappend -b 1M -comp zstd -Xcompression-level $lvl

[Desktop Action sfs-root-zstd-5]
Name=5
Exec=lvl=5; f=%f; pkexec mksquashfs "$f" "$f.$(date +'%%Y.%%m.%%d-%%H.%%M.%%S').zst.sfs" -noappend -b 1M -comp zstd -Xcompression-level $lvl

[Desktop Action sfs-root-zstd-6]
Name=6
Exec=lvl=6; f=%f; pkexec mksquashfs "$f" "$f.$(date +'%%Y.%%m.%%d-%%H.%%M.%%S').zst.sfs" -noappend -b 1M -comp zstd -Xcompression-level $lvl

[Desktop Action sfs-root-zstd-7]
Name=7
Exec=lvl=7; f=%f; pkexec mksquashfs "$f" "$f.$(date +'%%Y.%%m.%%d-%%H.%%M.%%S').zst.sfs" -noappend -b 1M -comp zstd -Xcompression-level $lvl

[Desktop Action sfs-root-zstd-8]
Name=8
Exec=lvl=8; f=%f; pkexec mksquashfs "$f" "$f.$(date +'%%Y.%%m.%%d-%%H.%%M.%%S').zst.sfs" -noappend -b 1M -comp zstd -Xcompression-level $lvl

[Desktop Action sfs-root-zstd-9]
Name=9
Exec=lvl=9; f=%f; pkexec mksquashfs "$f" "$f.$(date +'%%Y.%%m.%%d-%%H.%%M.%%S').zst.sfs" -noappend -b 1M -comp zstd -Xcompression-level $lvl

[Desktop Action sfs-root-zstd-10]
Name=10
Exec=lvl=10; f=%f; pkexec mksquashfs "$f" "$f.$(date +'%%Y.%%m.%%d-%%H.%%M.%%S').zst.sfs" -noappend -b 1M -comp zstd -Xcompression-level $lvl

[Desktop Action sfs-root-zstd-11]
Name=11
Exec=lvl=11; f=%f; pkexec mksquashfs "$f" "$f.$(date +'%%Y.%%m.%%d-%%H.%%M.%%S').zst.sfs" -noappend -b 1M -comp zstd -Xcompression-level $lvl

[Desktop Action sfs-root-zstd-12]
Name=12
Exec=lvl=12; f=%f; pkexec mksquashfs "$f" "$f.$(date +'%%Y.%%m.%%d-%%H.%%M.%%S').zst.sfs" -noappend -b 1M -comp zstd -Xcompression-level $lvl

[Desktop Action sfs-root-zstd-13]
Name=13
Exec=lvl=13; f=%f; pkexec mksquashfs "$f" "$f.$(date +'%%Y.%%m.%%d-%%H.%%M.%%S').zst.sfs" -noappend -b 1M -comp zstd -Xcompression-level $lvl

[Desktop Action sfs-root-zstd-14]
Name=14
Exec=lvl=14; f=%f; pkexec mksquashfs "$f" "$f.$(date +'%%Y.%%m.%%d-%%H.%%M.%%S').zst.sfs" -noappend -b 1M -comp zstd -Xcompression-level $lvl

[Desktop Action sfs-root-zstd-15]
Name=15
Exec=lvl=15; f=%f; pkexec mksquashfs "$f" "$f.$(date +'%%Y.%%m.%%d-%%H.%%M.%%S').zst.sfs" -noappend -b 1M -comp zstd -Xcompression-level $lvl

[Desktop Action sfs-root-zstd-16]
Name=16
Exec=lvl=16; f=%f; pkexec mksquashfs "$f" "$f.$(date +'%%Y.%%m.%%d-%%H.%%M.%%S').zst.sfs" -noappend -b 1M -comp zstd -Xcompression-level $lvl

[Desktop Action sfs-root-zstd-17]
Name=17
Exec=lvl=17; f=%f; pkexec mksquashfs "$f" "$f.$(date +'%%Y.%%m.%%d-%%H.%%M.%%S').zst.sfs" -noappend -b 1M -comp zstd -Xcompression-level $lvl

[Desktop Action sfs-root-zstd-18]
Name=18
Exec=lvl=18; f=%f; pkexec mksquashfs "$f" "$f.$(date +'%%Y.%%m.%%d-%%H.%%M.%%S').zst.sfs" -noappend -b 1M -comp zstd -Xcompression-level $lvl

[Desktop Action sfs-root-zstd-19]
Name=19
Exec=lvl=19; f=%f; pkexec mksquashfs "$f" "$f.$(date +'%%Y.%%m.%%d-%%H.%%M.%%S').zst.sfs" -noappend -b 1M -comp zstd -Xcompression-level $lvl

[Desktop Action sfs-root-zstd-20]
Name=20
Exec=lvl=20; f=%f; pkexec mksquashfs "$f" "$f.$(date +'%%Y.%%m.%%d-%%H.%%M.%%S').zst.sfs" -noappend -b 1M -comp zstd -Xcompression-level $lvl

[Desktop Action sfs-root-zstd-21]
Name=21
Exec=lvl=21; f=%f; pkexec mksquashfs "$f" "$f.$(date +'%%Y.%%m.%%d-%%H.%%M.%%S').zst.sfs" -noappend -b 1M -comp zstd -Xcompression-level $lvl

[Desktop Action sfs-root-zstd-22]
Name=22
Exec=lvl=22; f=%f; pkexec mksquashfs "$f" "$f.$(date +'%%Y.%%m.%%d-%%H.%%M.%%S').zst.sfs" -noappend -b 1M -comp zstd -Xcompression-level $lvl
